@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}

.box {
    box-shadow: 1px 1px 3px lightgray, -1px -1px 3px lightgray;
    border-radius: 18px;
}


.card {
    width: 321px;
    height: 498px;
    background-color: var(--white);
    padding: 17px;
}

img {
    width: 100%;
}

.title {
    color: var(--dark-blue);
    font-size: 22px;
    text-align: center;
    padding-top: 21px;
}

.paragraph {
    color: var(--grayish-blue);
    text-align: center;
    padding-top: 14px;
}
